html {
    box-sizing: border-box;
    outline: none;
}

.title {
    text-align: center;
    font-weight: 200;
    margin-top: 50px;
}

#query {
    height: 50px;
    width: 100%;
    display: block;
    padding: 0 25px;
    border: 1px solid #ccc;
}

#query:focus {
    outline: none;
    border: 1px solid rgb(8, 45, 253);
}

div {
    position: relative;
    width: 60%;
    margin: auto;
    max-width: 700px;
    margin: auto;
}

.wrapper {
    text-align: center;
}

.gifs {
    /* display: flex; */
    width: 100%;
    margin: 0 auto;
    padding: 5% 25px 0;
}

span img {
    background: #eee;
    width: 60%;
    max-width: 500px;
    height: auto;
    opacity: 1;
}

#button {
    position: absolute;
    top: 0;
    right: 0;
    height: 52px;
    width: 100px;
    opacity: 1;
    background-color: rgb(91, 248, 151);
}

#button:hover {
    cursor: pointer;
}
